body{
  overflow: hidden;
}
.App {
    text-align: center;
    margin: 0 auto;
    overflow-y: auto;   
}
.single-auction-row{
  width: 800px;
  margin:0 auto;
  display: flex;
  justify-content:space-between;
}


::-webkit-scrollbar
{
  width: 8px;  
  height: 8px; 
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}